<div class="container mt-5">
  <h3>Đặt lại mật khẩu</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Mật khẩu mới</label>
      <input type="password" [(ngModel)]="newPassword" name="newPassword" class="form-control" required>
    </div>
    <div>     <button type="submit" class="btn btn-success">Đổi mật khẩu</button>
</div>
  </form>

  <div class="mt-3 text-success" *ngIf="message">{{ message }}</div>
  <div class="mt-3 text-danger" *ngIf="error">{{ error }}</div>
</div>
