<div class="container mt-5">
  <h2 class="text-primary mb-4">📦 Đơn hàng của tôi</h2>

  <div *ngIf="donHangs.length === 0" class="alert alert-info">
    Bạn chưa có đơn hàng nào.
  </div>

  <div *ngFor="let donHang of donHangs" class="card mb-4 shadow-sm">
    <div class="card-header d-flex justify-content-between">
      <div><strong>Mã đơn:</strong> {{ donHang.maHoaDon }}</div>
      <div><strong>Ngày đặt:</strong> {{ donHang.ngayTao | date:'dd/MM/yyyy' }}</div>

    </div>
    <div class="card-body">
      <div><strong>Trạng thái: </strong> 
      <span [ngSwitch]="donHang.trangThai">
    <span  *ngSwitchCase="'DA_XAC_NHAN'" class="badge bg-primary">Đã xác nhận</span>
    <span *ngSwitchCase="'CHO_XAC_NHAN'" class="badge bg-warning">Chờ xác nhận</span>
    <span *ngSwitchCase="'DANG_GIAO_HANG'" class="badge bg-primary">Đang giao</span>
    <span *ngSwitchCase="'GIAO_HANG_THANH_CONG'" class="badge bg-success">Gia hàng thành công</span>
    <span *ngSwitchCase="'NHAN_VIEN_HUY'" class="badge bg-danger">Nhân viên huỷ</span>
        <span *ngSwitchCase="'KHACH_HANG_DA_HUY'" class="badge bg-danger">Khách hàng huỷ</span>
    <span *ngSwitchCase="'GIAO_HANG_THAT_BAI'" class="badge bg-danger">Giao hàng thất bại</span>
    <span *ngSwitchCase="'HOAN_THANH'" class="badge bg-success">Đơn hàng OFFLINE</span>
    <span *ngSwitchDefault>{{ donHang.trangThai }}</span>
  </span>
      </div>
      <div><strong>Thanh toán:</strong> {{ donHang.tongTienSauGiam | number }}₫</div>
<button class="btn btn-sm btn-outline-primary mt-1"
              (click)="moChiTiet(donHang.id)">
        {{ donHang.id === idDonHangDangXem ? 'Ẩn chi tiết' : 'Xem chi tiết' }}

      </button>
      <div class="mt-2">
        <button class="btn btn-sm btn-outline-danger" *ngIf="donHang.trangThai==='DA_XAC_NHAN'||donHang.trangThai==='CHO_XAC_NHAN'"
              (click)="huyDon(donHang)">
Huỷ đơn        
      </button>
      </div>
      <hr>
       <div class="card-body" *ngIf="donHang.id === idDonHangDangXem">
      <p><strong>Tổng tiền:</strong> {{ donHang.tongTien | number }}₫</p>

      <h5>Sản phẩm:</h5>
      <ul class="list-group">
        <li *ngFor="let sp of donHang.sanPhams" class="list-group-item d-flex justify-content-between">
          <div>
            <img [src]="sp.hinhAnh" width="50" class="me-2" />
            {{ sp.tenSanPham }} (x{{ sp.soLuongMua }})
          </div>
          <div>{{ sp.donGia | number }}₫</div>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>
