
<nav class="sidebar custom-sidebar-scroll bg-primary text-white d-flex flex-column p-3 position-fixed">
  <a class="mb-4 d-flex align-items-center text-white text-decoration-none">
    <i class="bi bi-book fs-4 me-2"></i> <span class="fs-5 fw-bold">BookAdmin</span>
  </a>

  <ul class="nav flex-column">
    <li *ngIf="hasRole(['ROLE_ADMIN'])" class="nav-item">
      <a routerLink="/admin/dashboard" class="nav-link text-white">
        <i class="bi bi-speedometer2 me-2"></i>Tổng quan
      </a>
    </li>
  <li *ngIf="hasRole(['ROLE_ADMIN'])" class="nav-item">
    <a class="nav-link text-white d-flex justify-content-between align-items-center"
       (click)="isProductMenuOpen = !isProductMenuOpen">
      <span><i class="bi bi-book me-2"></i>Sách</span>
      <i class="bi" [ngClass]="{
        'bi-chevron-down': isProductMenuOpen,
        'bi-chevron-right': !isProductMenuOpen
      }"></i>
    </a>

    <div *ngIf="isProductMenuOpen" class="ps-3">
      <a routerLink="/admin/products/book" class="nav-link text-white ps-4">
         Sách
      </a>
      <a routerLink="/admin/products/author" class="nav-link text-white ps-4">
         Tác giả
      </a>
       <a routerLink="/admin/products/category" class="nav-link text-white ps-4">
         Thể loại
      </a>
       <a routerLink="/admin/products/topic" class="nav-link text-white ps-4">
         Chủ đề
      </a>
       <a routerLink="/admin/products/paper" class="nav-link text-white ps-4">
         Loại giấy
      </a>
       <a routerLink="/admin/products/cover" class="nav-link text-white ps-4">
         Loại bìa
      </a>
       <a routerLink="/admin/products/size" class="nav-link text-white ps-4">
         Kích thước
      </a>
       <a routerLink="/admin/products/publisher" class="nav-link text-white ps-4">
         NXB
      </a>
       <a routerLink="/admin/products/product-book" class="nav-link text-white ps-4">
         Sản phẩm
      </a>
      
    </div>
  </li>

    <li *ngIf="hasRole(['ROLE_ADMIN'])">
      <a routerLink="/admin/customer" class="nav-link text-white">
      <i class="bi bi-person-circle"></i> Khách hàng
      </a>
    </li>
     <li *ngIf="hasRole(['ROLE_ADMIN'])">
      <a routerLink="/admin/employee" class="nav-link text-white">
       <i class="bi bi-person-gear"></i> Nhân viên
      </a>
    </li>
    <li *ngIf="hasRole(['ROLE_ADMIN', 'ROLE_NHAN_VIEN'])">
      <a routerLink="/admin/order-management" class="nav-link text-white">
        <i class="bi bi-cart-check me-2"></i>Đơn hàng
      </a>
    </li>
    <li >
      <a routerLink="/admin/offline" class="nav-link text-white">
        <i class="bi bi-cart-check me-2"></i>OFFLINE
      </a>
    </li>
     <li *ngIf="hasRole(['ROLE_ADMIN'])">
      <a routerLink="/admin/voucher" class="nav-link text-white">
        <i class="bi bi-cart-check me-2"></i>Khuyến mãi
      </a>
    </li>
    <!-- thêm các mục khác tương tự -->
  </ul>
</nav>
